.contenedor-contact{
    z-index: 2;  
    width: 1024px;
    height: 100%;
    content: "";
    display: flex;
    clear: both;
    position: relative;
    margin: 0 auto;
}

.img-contact{ 
    float: right;
    margin-left: 2%;
    padding: 2%;
}


main .cont-enviar article{
    width: 90%; 
    height: auto;

    padding: 4%;
    margin: 2% 0 10% 5%;
}